<div class="modal-header">
  <h3 class="text-center"> SUBTEMAS</h3>
</div>
<div class="modal-body">
  <form role="form" class="" name="formSubtema">
    <div class="form-group">
      <label>Tema</label>
        <select class="form-control" ng-model="subtema.tema" ng-options="opTema.nombreTema for opTema in opcionesTema" required>
        </select>
    </div>
    <div class="form-group">
      <label for="nombre_tema" >Nombre de Subtema</label>
        <input ng-model="subtema.nombre" type="text" class="form-control" id="tema_nombre" placeholder="Introduce nuevo subtema" required>
    </div> 
  </form>
</div>
<div class="modal-footer">
   <button class=" btn btn-primary btn-lg btn-block" ng-disabled="formSubtema.$invalid" ng-click="updateSubtema(subtema)">Guardar Subtema
  </button>

  <div class="{{alerta.tipo}}" id="mensajes">
    {{alerta.mensaje}}
  </div>
</div>


