<section class="wellcomeSicla" >
        <div class="col-lg-6 col-lg-offset-3" >
            <img class="img-responsive  img-center col-lg-12" ng-src="lib/img/logos/logo.png" alt="">
        </div>
        <div class="titles-sicla col-lg-12" style="padding-bottom:30px">
            Sistema de Información Clasificada 
        </div>
        <div class="container">
           
            <div class="row" >
            <div class="col-md-6" style="border-right-style:solid;border-right-color: #FFF;border-right-width: 2px; ">
                <div class="introText">
                    <h3 class="text-center"  >Visitante</h3>
                        <div class="text-center">
                          Acceso a la síntesis de las notas de puebla más relevantes del día.
                        </div>
                        <div class="text-center"  style="color:#FFF">
                            Ver notas de hoy <br>
                            <a href="#/inicio" class="btn btn-circle page-scroll">
                                <i class="fa fa-newspaper-o animated"> </i>
                            </a>
                        </div>
                </div>
            </div>
                <div class="col-lg-6" >
                    <div class="introText " >
                        <h3 class="text-center" >Prueba</h3>
                        <div class="text-justify">
                            Acceso a las 50 últimas notas completas de la clasificación de tu preferencia
                        </div>
                        <div class="text-center" style="color:#FFF">
                        <div class="row">
                            <div class="col-xs-5">
                                Registrarse <br>
                                <a ng-href="" class="btn btn-circle page-scroll" ng-click="open1('lg')">
                                    <i class="fa fa-check animated"> </i>
                                </a>
                            </div>
                            <div class="col-xs-1">
                                o
                            </div>
                            <div class="col-xs-5 col-lg-offset-1">
                                Iniciar Sesión <br>
                                <a href="" class="btn btn-circle" ng-click="open2('md')"  >
                                    <i class="fa fa-user animated"> </i>
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

        </div>


</section>