
<div class="row">
  <div class="col-lg-5 well ">
    <div class="col-lg-12 form-group">      
      <div class="col-lg-1 col-md-1 col-sm-1 control-label">
        <h5> Fecha</h5>
      </div>
          <div class="col-lg-3 col-md-3 col-sm-3 ">
            <select ng-model="sup.fecha"  class="form-control input-sm">
              <option   value="0" > Hoy </option>
              <option   value="1" > Periodo </option>
            </select>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-3 ">
            <input type="date"  ng-model="reporte.fecha1" class="form-control input-sm"/>
          </div>
          <div class="col-lg-1">
            <h5   ng-if="sup.fecha"> a </h5>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <input type="date" ng-if="sup.fecha" class="form-control input-sm" ng-model="reporte.fecha2" /> 
          </div>

        </div>
    <!-- Medio -->
        <div class="form-group col-lg-12 " >
          <div class=" col-lg-1 col-md-1 col-sm-1 control-label" for="">
            <h5>Medio</h5>
          </div>
            <div class="col-lg-3 col-md-3 col-sm-3 ">
              <select ng-change="checkState(2)" ng-model="sup.medio" class="form-control input-sm">
                <option value="0" >Todos</option>
                <option value="1" >Particular </option>
              </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3" ng-if="sup.medio==1">
              <select class="form-control input-sm" ng-model="reporte.medio " ng-options="n.nombreMedio for n in Medios">

              </select>
            </div>
        </div>    
    <!-- Autor -->
        <div class="col-lg-12 form-group">
          <div class="col-lg-1 col-md-1 col-sm-1 control-label">
            <h5>Autor</h5>  
          </div>
          <div class="col-md-3">
              <select class="form-control" ng-model="sup.autor" > 
                <option value="0" selected> Todos</option>
                <option value="1"> Particular</option>
              </select>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3"  ng-if="reporte.autor==1">
            <select class="form-control" ng-model="reporte.autor" ng-options="autor.nombreAutor for autor in Autores">
              
            </select>
          </div>
        </div>
    <!-- Tipo de nota -->
        <div class="col-lg-12 form-group">
          <hr>
            <div class="col-lg-2 ">
                <h5>Tipo de nota</h5>  
            </div>
              <div class="col-md-4">
                  <select class="form-control" ng-model="reporte.tipoNota" ng-options="tn.nombreTipoNota for tn in tipoNotas" > 
                    <option value="0"> sin considerar </option>
                  </select>
              </div>
        </div>
    <!-- Clasificacion -->
        <div class="col-lg-12 form-group">
        <hr>
          <div class="col-lg-2 col-md-2 col-sm-2 control-label">
            <h5>Valoracion</h5>  
          </div>
          <div class="col-md-3">
              <select class="form-control" ng-model="reporte.clasificacion"  > 
                <option value="0" selected>Sin considerar</option>
                <option value="1"> Positiva </option>
                <option value="2"> Negativa </option>
              </select>
          </div>
        </div>

    <!-- Seccion -->
        <div class="col-lg-12 form-group">
        <hr>
          <div class="col-lg-1 col-md-1 col-sm-1 control-label">
            <h5>Seccion</h5>  
          </div>
          <div class="col-md-3">
              <select class="form-control" ng-model="reporte.seccion" ng-options="tn.nombreSeccion for tn in Seccion" > 
              </select>
          </div>
        </div>
    <!-- Genero -->
        <div class="col-lg-12 form-group">
          <div class="col-lg-1 col-md-1 col-sm-1 control-label">
            <h5>Genero </h5>  
          </div>
          <div class="col-md-3">
              <select class="form-control" ng-model="reporte.genero" > 
                <option value="0" selected > Sin considerar </option>
                <option value="1"> Femenino </option>
                <option value="2"> Masculino </option>
              </select>
          </div>
          <div class="col-md-3" ng-if="reporte.genero!=0">
              <select class="form-control" ng-model="reporte.generoTipo" > 
                <option value="0" selected> todos </option>
                <option value="1"> Protagonistas </option>
                <option value="2"> Autores </option>
              </select>
          </div>
        </div>
  <!-- Area  -->  
        <div class="col-lg-12 form-group">
        <hr>
          <div class="col-lg-4 col-md-1 col-sm-1 ">

            <div class="col-lg-12 text-center" >

              <h5> Area </h5>
            </div>
            <select class="form-control" ng-model="reporte.area" ng-change="getTema(reporte.area.idArea)" ng-options="area.nombreArea for area in Areas"> 
              <option value="0"> sin considerar  </option>
            </select>
          </div>
          <div class="col-lg-4 col-md-1 col-sm-1 text-center" ng-if="reporte.area">
              <div class="col-lg-12">
                <h5> Tema </h5>  
              </div>
              <select class="form-control" ng-model="reporte.tema" ng-change="getSubtema(reporte.tema.idTema)" ng-options="tema.nombreTema for tema in Temas"> 
                <option value="0">Todos</option>
              </select>
          </div>
          <div class="col-lg-4 col-md-1 col-sm-1 text-center" ng-if="reporte.tema">
            <div class="col-lg-12">
              <h5> Subtema </h5>  
            </div>
            <select class="form-control" ng-model="reporte.subtema" ng-options="subtema.nombreSubtema for subtema in Subtemas" > 
                <option value="0">Todos</option>
            </select>
          </div>
        </div>


  <!-- Pais -->  
        <div class="col-lg-12 form-group">
        <hr>
          <div class="col-lg-4 col-md-1 col-sm-1 ">
            <div class="col-lg-12 text-center" >
              <h5> Pais </h5>
            </div>
            <select class="form-control" ng-model="reporte.pais" ng-change="getEstado(reporte.pais.idPais)" ng-options="pais.nombrePais for pais in Paises"> 
              <option value="0"> sin considerar  </option>
            </select>
          </div>
          <div class="col-lg-4 col-md-1 col-sm-1 text-center" ng-if="reporte.pais">
              <div class="col-lg-12">
                <h5> Estado </h5>  
              </div>
              <select class="form-control" ng-model="reporte.estado" ng-change="getMunicipio(reporte.estado.idEstado)" ng-options="estado.nombreEstado for estado in Estados"> 
                <option value="0">Todos</option>
              </select>
          </div>
          <div class="col-lg-4 col-md-1 col-sm-1 text-center" ng-if="reporte.estado">
            <div class="col-lg-12">
              <h5> Municipio </h5>  
            </div>
            <select class="form-control" ng-model="reporte.municipio" ng-options="municipio.nombreMunicipio for municipio in Municipios" > 
                <option value="0">Todos</option>
            </select>
          </div>
        </div>


  </div>


  <div class="col-lg-7  ">
  <br>

    <div class="col-lg-10 ">
        <div class="col-lg-4">
      <button class="btn btn-default btn-block btn-report" ng-click="addToPreview(1)" ><span class="fa fa-pie-chart"></span>   Grafica de Pie  </button>
    </div>
    <div class="col-lg-4">
      <button class="btn btn-default btn-block btn-report" ng-click="addToPreview(2)" > <span class="fa fa-align-justify"></span>  Texto</button>
    </div>
    <div class="col-lg-4">
      <button class="btn btn-default btn-block btn-report" ng-click="addToPreview(3)" ><span class="fa fa-bar-chart"></span>  Grafica de Barras </button>
    </div>
    
    <div class="col-lg-12">
    <br>
        <div class=" reportContent" ng-repeat="elemento in previewArray track by $index">
          <div class="element-header">
            <span class="pull-right fa fa-times-circle-o" ng-click="deleteFromPreview($index)"></span>
          </div>
     
          <div class="element-content">
            {{elemento}}
          </div>
        </div> 
    </div>

    </div>

    <button class="btn btn-success" ng-click="saveToPDF()">Guardar en pdf</button>
  </div>
  {{previewArray}}
  <hr>
  {{pdf}}
  <hr>
  {{reporte}}
</div>
<!--
  <div class="col-md-10 col-xs-10 col-md-offset-1">
    <div class="col-md-2 col-md-2 col-sm-2">
      <h4 class="control-label">Medio</h4>
    </div>
    <div class="col-md-4">
        <select class="form-control" ng-model="thisMedio" ng-change="getAutores(thisMedio.idMedio)" ng-options="m.nombreMedio for m in medios"> <option></option></select>
    </div>
    <div class="col-md-3">
        <input type="radio" name="radioMedio" value="0" ng-model="rMedio"> Todos General
        <input type="radio" value="1" name="radioMedio" ng-model="rMedio"> Uno
        <input type="radio" value="2" name="radioMedio" ng-model="rMedio"> Todos Especifico
    </div>
  </div>

  <div class="col-md-10 col-xs-10 col-md-offset-1">
    <div class="col-md-2 col-md-2 col-sm-2">
      <h4 class="control-label">Autor</h4>
    </div>
    <div class="col-md-4">
        <select class="form-control" ng-model="thisAutor" ng-options="a.nombreAutor for a in autores"> <option></option></select>
    </div>
    <div class="col-md-3">
        <input type="radio" name="radioAutor" value="0" ng-model="rAutor">Todos General
        <input type="radio" value="1" name="radioAutor" ng-model="rAutor"> Uno
        <input type="radio" value="2" name="radioAutor" ng-model="rAutor"> Todos Especificando
    </div>
  </div>

  <div class="col-md-10 col-xs-10 col-md-offset-1">
    <div class="col-md-2 col-md-2 col-sm-2">
      <h4 class="control-label">Protagonista</h4>
    </div>
    <div class="col-md-4">
        <select class="form-control" ng-model="thisProt" ng-options="p.nombreProtagonista for p in protagonistas"> <option></option></select>
    </div>
    <div class="col-md-3">
        <input type="radio" name="radioProtagonista" value="0" ng-model="rProtagonista">Todos General
        <input type="radio" value="1" name="radioProtagonista" ng-model="rProtagonista"> Uno
        <input type="radio" value="2" name="radioProtagonista" ng-model="rProtagonista"> Todos Especifico
    </div>
  </div>

  <div class="col-md-10 col-xs-10 col-md-offset-1">
    <div class="col-md-2 col-md-2 col-sm-2">
      <h4 class="control-label">Area</h4>
    </div>
    <div class="col-md-4">
        <select class="form-control" ng-model="thisArea" ng-options="ar.nombreArea for ar in areas"> <option></option></select>
    </div>
    <div class="col-md-3">
        <input type="radio" name="radioArea" value="0" ng-model="rArea">Todos General
        <input type="radio" value="1" name="radioArea" ng-model="rArea"> Uno
        <input type="radio" value="2" name="radioArea" ng-model="rArea"> Todos Especifico
    </div>
  </div>
  <div class="col-md-12">
    <button class="btn btn-success pull-right" ng-click="getReporte(rArea,rAutor,rMedio,rProtagonista)"> Generar </button>
  </div>

  -->


<!--
<div class="container-fluid">
<table class="table table-hover">
<thead>
<tr><th>Id</th><th>Título</th><th>Medio</th><th>Tipo de Nota</th><th>Usuario</th></tr>
</thead>
<tbody>
<tr ng-repeat="nota in notasArray |filter:search">
<td>{{nota.idNota}}</td><td>{{nota.titulo| limitTo:20}}</td><td>{{nota.nombreMedio}}</td><td>{{nota.tipo}}</td><td>{{nota.usuario}}</td>
<td>
<div class="btn-group">
  <a href="#/Editar/Nota/{{nota.idNota}}" class="btn btn-primary" role="button">Editar</a>
  <button type="button" class="btn btn-danger" ng-click="modalEliminar(nota)">Eliminar</button>
</div>
</td>
</tr>
</tbody>
</table>
</div>

-->