<br>
<div class="container-fluid">
<div class="row">
	<div class="col-md-12 text-center">
		<h3>Total de Visitas</h3>		
		<h4>{{total}}</h4>
	</div>
	<br>
	<hr />
	<br>
	<div class="col-md-12 ">
	<div class="row" style="border-bottom: 2px solid grey">		
		<div class="col-md-6 text-center">		
				<h3>Fecha</h3>
		</div>	
		<div class="col-md-6 text-center">						
				<h3>Usuario</h3>
		</div>
	</div>
	<div class="row" ng-repeat="dato in visitas">				
		<div class="col-md-6 text-center" style="border-right: 2px solid grey">					
				{{dato.Fecha}}					
		</div>	
		<div class="col-md-6 text-center" >									
				{{dato.Usuario}}			
		</div>			
	</div>
	</div>
</div>
</div>