  <span class="pull-right fa fa-times-circle-o   close-sign" ng-click="cancel()"></span>
<div class="modal-heading">
  <h3 class="text-center">{{texto}}</h3>
</div>
<div class="modal-body container-fluid">
  <div ng-show="opCP.length>1" class="form-group">
    <label class="col-md-8 control-label text-center"><em>Selecciona el elemento a graficar</em></label><br>
    <select class="col-md-8" ng-model="seleccion" ng-options="op as op for op in opCP"></select>
  </div>
  <div ng-show="err">
    <label class="col-md-8 control-label text-center"><em>No hay elementos a graficar</em></label><br>
  </div>
  <div id="chartdiv" style="width: 640px; height: 400px; overflow: auto;" ng-show="graf">
  </div>
</div>
<div class="modal-footer">
  {{report}}
  <button ng-show="opCP.length<1 && !err" class=" btn btn-primary btn-md btn-block" ng-click=""  >Guardar</button>
  <button ng-show="opCP.length>1" class=" btn btn-primary btn-md btn-block"  ng-click="genObj(seleccion)"  >Generar Gráfica</button>
  <button ng-show="err" class=" btn btn-primary btn-md btn-block"  ng-click="cancel()"  >Regresar</button>
</div>


