<div class="modal-header">
   <h3 class="text-center"><strong>Confirmación de Actualizacion</strong></h3>
</div>
<div class="modal-body">
    <form >
    <div class="form-group" style="text-align: center;">
        <h3><strong>{{titulo }} en actualizacion de nota</strong></h3><br> 
        <h2 style="display: block;text-align: center;"><strong></strong></h2><hr />
        <h3></h3>
    </div>     
     
</div>
   <div class="modal-footer">

      <button class=" btn btn-primary " ng-click="cancel()">Cancelar</button>
   </div>
	</form>
  <br>
