   <section class="defaultIni">
           <nav class="navbar navbar-static-top navbar-sicla upperMenu"  role="navigation">
        <div class="container" >
            <div class="row">
            <div class="col-md-6">
                <ul class="nav navbar-nav navbar-left">
                    <li >
                        <a ng-href="#/premium"><strong>Inicio</strong></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li >
                        
                    </li>
                </ul>
            </div>
  <div class="col-lg-6">
            <div class="">
                <ul class="nav navbar-nav navbar-right">
                    <li >
                        <a class="" ng-href="#/premium/reportes"><strong>Reportes </strong>  </a>
                    </li>
                    <li >
                        <a class="" ng-href="#/home"><strong>Salir </strong>  </a>
                    </li>
                </ul>

            </div> 
            </div>  
        </div> 
        </div>
    </nav> 


    <div class="container">
        <div class="row">
        <div class="col-lg-12">
            <div class=" titles container-fluid col-lg-10 col-lg-offset-1">
              <div class=""> Busqueda Avanzada</div>                 
        </div>
      </div>

              <div class="col-lg-12 well well-sm">
                  <form class="">
                    <div class="row"> 
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                         <p class="help-block">Palabra Clave</p >
                         <input class="form-control input-sm" type="text" ng-model="search2" placeholder="Comienza a escribir aquí" >  
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <p class="help-block">Fecha</p >
                        <input class="form-control input-sm" type="date" ng-model="search.fecha" >  
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6" >
                      
                      <div class="form-group">
                        <p class="help-block">Protagonista</p >
                        <input class="form-control input-sm" type="text" ng-model="search.nombreProtagonista" placeholder="Comienza a escribir aquí"  typeahead=" p as p.nombreProtagonista for p in Protagonista |filter:$viewValue |limitTo: 8 "  >  
                      </div>

                      <div class="form-group">
                      <p class="help-block">Filtrar Medios</p >
                         <input class="form-control input-sm" type="text" ng-model="search.nombreMedio" placeholder="Comienza a escribir aquí" typeahead=" m as m.nombreMedio for m in Medios |filter:$viewValue |limitTo: 8 ">  
                         
                      </div>                      
                    </div>  
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                               <p class="help-block">Filtrar por Tema</p >
                               <input class="form-control input-sm" type="text" ng-model="search.nombreTema" placeholder="Comienza a escribir aquí" typeahead=" nota as nota.nombreTema for nota in Temas |filter:$viewValue |limitTo: 8 ">  
                            </div>  
                            <div class="form-group">
                               <p class="help-block">Filtrar por Subtema</p >
                               <input class="form-control input-sm" type="text" ng-model="search.nombreSubtema" placeholder="Comienza a escribir aquí" typeahead=" nota as nota.nombreSubtema for nota in Subtemas |filter:$viewValue |limitTo: 8 ">  
                            </div>                        
                        </div>
                        <div class="col-md-12 text-center">
                        	<button ng-click="busquedaAvanzada()" class="btn" ng-disabled="!search.nombreSubtema && !search.nombreTema && !search.nombreMedio && !search.nombreProtagonista && !search.fecha">Buscar</button>
                        </div>
                    </div>
                  </form>
              </div>
    
<div class="col-md-3 col-sm-6 col-xs-8 "  ng-repeat="columnas in angColumnas |filter:search2" >
<div class="post-container"  >
        <div class="post-image">
            <img ng-hide="!columnas.img8col" ng-src="{{columnas.img8col}}" style="height:338px;" ng-click="datosModal(columnas)" class="img-responsive center-block clickable">
            <img ng-hide="columnas.img8col" ng-src="{{columnas.imagen}}"  ng-click="datosModal(columnas)" class=" img-responsive center-block clickable" style="height:53px;width:222px;">
        </div> 
         <div class="post-titulo" ng-hide="!columnas.img8col"> 
            <p> {{columnas.fecha}} </p>
        </div>  
        <div class="post-titulo"> 
            <p> {{columnas.tituloNota}} </p>
        </div>  
         <div class="post-titulo" ng-hide="columnas.img8col"> 
            <p> {{columnas.fecha}} </p>
        </div>  
        <div class="post-desc clickable" ng-hide="columnas.img8col" ng-click="datosModal(columnas)"> 
            <p>{{columnas.sintesis}} </p>
        </div>  
</div>  


</div>
</div>
</div>
<hr>
<div class="col-sm-12 text-center">
<pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm " ng-change="changePage(bigCurrentPage)" items-per-page="25" boundary-links="false" rotate="false" num-pages="numPages" previous-text="Anterior" next-text="Siguiente" first-text="Primera" last-text="Ultima"></pagination>  
</div>

</section>

<!--

<div class="col-md-10 col-md-offset-1">
        <div class="col-lg-portadas media-Sicla " ng-repeat="columnas in angColumnas | filter:qry">
                <img ng-src="{{columnas.img8col}}" ng-click="pre(columnas)" class="img-size clickable ">
        </div>
        <div class="col-lg-portadas media-Sicla" ng-repeat="nota in angNotas | filter:qry">
            <div class=" media-nota clickable " ng-click="pre(nota)">
                <div class="col-lg-12 text-center ">
                    <img class="img-thumbnail img-medios img-responsive" ng-src="{{nota.imagen}}" >
                    <hr> 
                    <div class="text-justify">
                        <strong>{{nota.titulo}}</strong>
                        <div class="col-lg-12 media-body">
                            <h5> {{nota.sintesis}} </h5>
                        </div>  
                    </div>           
                </div> 
            </div>
        </div>
        </div>
-->


