
<section  class="">
    <div class="image-bg-fixed-height ">
      <div class="img-shadow">
      <div class="container">
        <h1 class="col-lg-12">
            <div class=" titles container-fluid col-lg-10 col-lg-offset-1 picBack">
              <div class=""> Busqueda Avanzada</div>
              <div class="search">
                <input class="form-control" style="border-radius:9px;" ng-model="qry" placeholder="Buscar por Periodico, Titulo, Fecha, Autor, Protagonista, Tema o palabras clave">
              </div>
            </div>    
        </h1>
      </div>
      </div>
    </div>

    <div class="container-fluid">

        <div class="col-lg-portadas media-Sicla " ng-repeat="nota in angNotas | filter:qry">
            <div class=" media-nota " >
                <div class="col-lg-12 container-img-medios ">
                  <a class="col-lg-10 col-lg-offset-1 " href="#">
                    <img ng-click="open('lg')" ng-controler="ModalDemoCtrl" class="img-thumbnail img-medios img-responsive" ng-src="{{nota.imagen}}" >
                  </a>
                </div>
                <div class="">
                    <div class="media-titulo">
                            <strong>{{nota.titulo}}</strong>
                        </div>
                    <div class="col-lg-12 media-body">
                            <h5> {{nota.sintesis}} ... </h5>
                            <h5> {{nota.sintesis}} ... </h5>
                    </div>
                    </div>
                    <button type="button" class=" btn btn-danger foot">Seguir Leyendo</button>
                
            </div>
        </div>

    </div>

</section>
